# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Rider / VS Code opcional
.idea/
.vscode/

# Docker local
docker-compose.override.yml